body{
    min-height: 1000px;
    
}
.header{background-color: #00b1ff;
        color:#ffffff;
        font-weight:bold;
        height:100px;
        text-align: center;
        line-height:100px;
        padding:2px;}

.nav{background-color: #fff500;
     color:#ffffff;
     font-weight:bold;
     height:50px;
     text-align: center;
     line-height:50px;
     padding:2px;}

.sidebar{background-color: #4500ff;
         color:#ffffff;
         font-weight:bold;
         height:400px;
         width:25%;
         text-align: center;
         line-height:400px;
         float:left;
         padding:2px;}

.main{background-color: #43d153;
      color:#ffffff;
      font-weight:bold;
      text-align: center;
      line-height:400px;
      padding:2px;}

.footer{background-color: #ff813e;
        color:#ffffff;
        font-weight:bold;
        height:50px;
        text-align: center;
        line-height:50px;
        padding:2px;}


.nava>li{
  border: 1px solid #ddd;
  border-right: 0;
  padding: .5em 1em;
  margin-left: -5px;
  box-sizing: border-box;
  width: 25%;
  display: inline-block;
    position: relative;
}

.nava>li:last-child{
  border-right: 1px solid #ddd;
}
.submenu {
  width: 200px;
  position: absolute;
  left: -1px; 
  top: 100%; 
  background: #eee;
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: none;
}

.submenu li{
  padding: .5em 15px;
  color: black;
  cursor: pointer;
  list-style-type:none;
}

.nava>li:hover .submenu{
    display: block;
}

.submenu li:hover
{ color: gray;
    background: white;
 display: block; }


.absolute {
  position: absolute;
  position: fixed;
  top: 550px;
  right: 50px;
  width:50px;
     height:50px;
    border-radius:50%;
    background:#ff0000;
    font-size:23px;
    font-family: Arial;
    font-weight: 900;
    color:#ffffff;
    line-height:50px;
    text-align:center;}





























}







